<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="ordersIndex">
    <h4 class="mb-4 fw-bold" style="color:#0069D9;">
      <img src="/images/icon/order.svg" style="width: 24px;">
      注文照会
    </h4>

    <div class="d-flex flex-row-reverse mb-5">
      <input @click="onDownload" type="button" value="CSVダウンロード" class="btn baseBtnBlue" style="width: 156px">
    </div>

    <!-- 検索フォーム -->
    <form @submit.prevent="onSerch">
      <div :style="serchTabStatus ? 'height: inherit' : { height: '55px', overflow: 'hidden' }" class="baseShadow p-3 mb-5">
        <div class="d-flex">
          <div class="me-auto"><img src="/images/icon/serchBlue.svg"></div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('serchTabStatus')"
              :style="serchTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <div class="row" style="align-items: flex-end; padding: 2rem 3rem;">
          <div class="col-4 p-0">
            <!-- 氏名 -->
            <div class="row mb-1">
              <div class="col-4">
                <div class="d-inline-block" style="width: 284px;">
                  <input
                    @input="onFormChange"
                    :value="fullName"
                    name="fullName"
                    type="text"
                    class="form-control mb-3"
                    placeholder="氏名"
                    maxlength="60"
                  >
                </div>
              </div>
            </div>
            <!-- 電話番号 -->
            <div class="row mb-1">
              <div class="col-4">
                <div class="d-inline-block" style="width: 284px;">
                  <input
                    @input="onFormChange"
                    :value="telephone"
                    name="telephone"
                    type="text"
                    class="form-control mb-3"
                    placeholder="電話番号"
                    maxlength="15"
                  >
                </div>
              </div>
            </div>
            <!-- メールアドレス -->
            <div class="row mb-1">
              <div class="col-4">
                <div class="d-inline-block" style="width: 284px;">
                  <input
                    @input="onFormChange"
                    :value="email"
                    name="email"
                    type="text"
                    class="form-control mb-3"
                    placeholder="メールアドレス"
                    maxlength="254"
                  >
                </div>
              </div>
            </div>
            <!-- ステータス -->
            <div class="row mb-1">
              <div class="col-4">
                <div class="d-inline-block" style="width: 284px;">
                  <select
                    v-model="orderStatus"
                    @change="onFormChange"
                    name="orderStatus"
                    class="form-select mb-2"
                  >
                    <option hidden value="">ステータス</option>
                    <option
                      v-for="item in statuss"
                      :key="item.id"
                      :value="item.name"
                    >{{ item.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 p-0 text-end">
            <button @click="onSerch" type="submit" class="btn mt-4 baseBtnBlue" style="width: 156px;">
              <img src="/images/icon/serchWhite.svg">
              検索
            </button>  
          </div>
          <div v-if="$v.fullName.$dirty || $v.telephone.$dirty || $v.email.$dirty || $v.orderStatus.$dirty" class="text-danger fw-bold mt-3">
            <p v-if="!$v.fullName.required && !$v.telephone.required && !$v.email.required && !$v.orderStatus.required">氏名、電話番号、メールアドレス、ステータスのいずれかを入力して下さい。</p>
          </div>
        </div>
      </div>
    </form>
   
    <!-- 一覧テーブル -->
    <div style="overflow: auto; width: 100%; height: 200px;" class="mb-5">
      <table class="table align-middle">
        <thead>
          <tr>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">取引ID</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">取引ステータス</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">取引日時</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">氏名</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">電話番号</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">メールアドレス</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">利用日</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">有効期限</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in orders"
            :key="item.transactionId"
            @click="onActionList(item)"
            style="position: relative;"
          >
            <td>{{ item.transactionId }}</td>
            <td>{{ item.transactionStatus }}</td>
            <td>{{ item.transactionDatetime }}</td>
            <td>{{ item.familyName }} {{ item.firstName }}</td>
            <td>{{ item.telephone }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.useDate }}</td>
            <td>{{ item.enableLimitDatetime }}</td>
            <td style="width: 0;">
              <ul
                :ref="item.transactionId"
                class="dropdown-menu"
                style="left: 50%; transform: translate(-50%, -50%);"
              >
                <a :href=`/orders/detail/${item.transactionId}`><li class="dropdown-item small">詳細</li></a>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ページネーション -->
    <nav class="d-flex justify-content-center" aria-label="Page navigation">
      <ul class="pagination mb-0">
        <li :class="{'disabled': Number(pageNumber) === 1}" class="page-item">
          <button
            @click="onPageChange(Number(pageNumber) - 1)"
            type="button"
            class="page-link">Previous
          </button>
        </li>
        <li
          v-for="value of totalPageCount"
          :key="value"
          :class="{'active': value === Number(pageNumber)}"
          class="page-item"
        >
          <button
            @click="onPageChange(value)"
            type="button"
            class="page-link">{{value}}
          </button>
        </li>
        <li :class="{'disabled': Number(pageNumber) === Number(totalPageCount)}" class="page-item">
          <button
            @click="onPageChange(Number(pageNumber) + 1)"
            type="button"
            class="page-link">Next
          </button>
        </li>
      </ul>
    </nav>
  </main>
</div>

<script type="text/javascript">
const statuss = `<%- statuss %>`;
const orders = `<%- orders %>`;
const totalPageCount = `<%- totalPageCount %>`;

const queryParam = new URLSearchParams(location.search);

Vue.use(window.vuelidate.default);
const { required } = window.validators;

new Vue({
  el: "#ordersIndex",
  data: {
    serchTabStatus: true,                             // 検索タブ
    // APIデータ
    statuss: JSON.parse(statuss),
    orders: JSON.parse(orders),
    totalPageCount: JSON.parse(totalPageCount),
    // 検索データ
    fullName: queryParam.get("fullName") ?? "",       // 氏名
    telephone: queryParam.get("telephone") ?? "",     // 電話番号
    email: queryParam.get("email") ?? "",             // メールアドレス	
    orderStatus: queryParam.get("orderStatus") ?? "", // ステータス
    pageNumber: queryParam.get('pageNumber') ?? 1,    // ページ番号
  },
  validations: {
    fullName: {
      required
    },
    telephone: {
      required
    },
    email: {
      required
    },
    orderStatus: {
      required
    },
  },
  created() {
    queryParam.set("fullName", this.fullName);
    queryParam.set("telephone", this.telephone);
    queryParam.set("email", this.email);
    queryParam.set("orderStatus", this.orderStatus);
    queryParam.set("pageNumber", this.pageNumber);
  },
  mounted() {
    /**
     * アクションリスト（hide）
     */ 
    window.addEventListener('click', (e) => {
      if(!e.target.closest('.table.align-middle')) {
        const dropdowns = document.querySelectorAll('.dropdown-menu');
        dropdowns.forEach(function(el) {
          el.style.display = 'none';
          el.closest('tr').style.backgroundColor = 'inherit';
        });
      }
    })
  },
  methods: {
    /**
     * ダウンロード
     */
     onDownload() {
      let title = '取引ID,取引ステータス,取引日時,氏名,電話番号,メールアドレス,利用日,有効期限\n';
      this.orders.forEach(el => {
        let line = `${el.transactionId},${el.transactionStatus},${el.transactionDatetime},${el.familyName + el.firstName},${el.telephone},${el.email},${el.useDate},${el.enableLimitDatetime}`;
        title += (line + '\n');
      })
      let link = document.createElement('a');
      link.href = window.URL.createObjectURL(new Blob([title], { type: 'text/csv' }));
      link.download = '注文一覧.csv';
      link.click();
    },
    /**
     * アコーディオン
     */ 
     onTabToggle(target) {
      this[target] = !this[target];
    },
    /**
     * アクションリスト（show）
     */ 
     onActionList(item) {
      const dropdowns = document.querySelectorAll('.dropdown-menu');
      dropdowns.forEach(function(el) {
        el.style.display = 'none';
        el.closest('tr').style.backgroundColor = 'inherit';
      });
      this.$refs[item.transactionId][0].style.display = 'block';
      this.$refs[item.transactionId][0].closest('tr').style.backgroundColor = '#E7E7E7';

    },
    /**
     * 検索条件（更新）
     */ 
    onFormChange(e) {
      this[e.target.name] = e.target.value;
      queryParam.set(e.target.name, e.target.value);
    },
    /**
     * ページ番号（更新）
     */
     onPageChange(page) {
      queryParam.set("pageNumber", page);
      window.location.href = "/orders?" + queryParam;
    },
    /**
     * 検索処理
     */
    onSerch() {
      this.$v.$touch();
      if(!this.$v.fullName.$invalid || !this.$v.telephone.$invalid || !this.$v.email.$invalid || !this.$v.orderStatus.$invalid) {
        window.location.href = "/orders?" + queryParam;
      }
    },
  }
})
</script>
</body>
</html>