<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="accountsRegist">
    <form @submit.prevent="onRegist" name="accounts">
      <h4 class="mb-5 fw-bold" style="color:#0069D9;">
        <img src="/images/icon/account.svg" style="width: 24px;">
        <template v-if="displayType === 'regist'" class="fs-4">アカウント登録</template>
        <template v-else class="fs-4">アカウント詳細</template>
      </h4>

      <!-- アカウントID -->
      <div v-if="displayType === 'regist'" class="row mb-5">
        <label class="form-label">アカウントID <span class="redDC3545">*必須</span></label>
        <div class="col-8">
          <input
            v-model="accountId"
            name="accountId"
            maxlength="50"
            type="text"
            class="form-control mb-2"
            placeholder="アカウントIDを入力"
          />
          <div v-if="$v.accountId.$dirty" class="text-danger fw-bold">
            <p v-if="!$v.accountId.required">アカウントIDが入力されていません。</p>
            <p v-if="!$v.accountId.valid">入力不可能な文字があります。正しい値で入力して下さい。</p>
          </div>
        </div>
      </div>
      <div v-if="displayType === 'detail'" class="row mb-5">
        <label class="form-label">アカウントID</label>
        <div class="col-8">{{ accountId }}</div>
      </div>

      <!-- 氏名 -->
      <div class="row mb-5">
        <label class="form-label">氏名 <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <input
            v-model="familyName"
            name="familyName"
            type="text"
            class="form-control"
            maxlength="25"
            placeholder="姓"
          >
          <div v-if="$v.familyName.$dirty" class="text-danger fw-bold mt-3">
            <p v-if="!$v.familyName.required">姓が入力されていません。</p>
          </div>
        </div>
        <div class="col-4">
          <input
            v-model="firstName"
            name="firstName"
            type="text"
            class="form-control"
            maxlength="25"
            placeholder="名"
          >
          <div v-if="$v.firstName.$dirty" class="text-danger fw-bold mt-3">
            <p v-if="!$v.firstName.required">名が入力されていません。</p>
          </div>
        </div>
      </div>

      <!-- メールアドレス -->
      <div class="row mb-5">
        <label class="form-label">メールアドレス</label>
        <div class="col-8">
          <input
            v-model="email"
            name="email"
            type="text"
            class="form-control"
            maxlength="254"
            placeholder="メールアドレスを入力"
          >
        </div>
        <div v-if="$v.email.$dirty" class="text-danger fw-bold mt-3">
          <p v-if="!$v.email.email">メールアドレスの形式で入力して下さい。</p>
          <p v-if="!$v.email.valid">管理者アカウントでは必須です。</p>
        </div>
      </div>

      <!-- 所属会社 -->
      <div class="row mb-5">
        <label class="form-label">所属会社</label>
        <div class="col-8">
          <input
            v-model="affiliationCompany"
            name="affiliationCompany"
            type="text"
            class="form-control mb-2"
            maxlength="30"
            placeholder="所属会社を入力"
          />
        </div>
      </div>

      <!-- 部署 -->
      <div class="row mb-5">
        <label class="form-label">部署</label>
        <div class="col-8">
          <input
            v-model="department"
            name="department"
            type="text"
            class="form-control mb-2"
            maxlength="30"
            placeholder="部署を入力"
          />
        </div>
      </div>

      <!-- 管理者アカウント -->
      <div class="row mb-5">
        <label class="form-label">管理者アカウント</label>
        <div v-if="backOfficeAccount.accountStatus === 'dmp'" class="col-4">
          <input v-model="JSON.stringify(isDmpAdmin)" type="hidden" name="isDmpAdmin">
          <input
            v-model="isDmpAdmin"
            @click="isDmpAdmin=$event.target.checked"
            class="form-check-input"
            type="checkbox"
            id="isDmpAdmin"
          >
          <label class="form-check-label" for="isDmpAdmin">
            管理者アカウント
          </label>
        </div>
        <div v-else class="col-4">
          <input v-model="JSON.stringify(isTenantAdmin)" type="hidden" name="isTenantAdmin">
          <input
            v-model="isTenantAdmin"
            @click="isTenantAdmin=$event.target.checked"
            class="form-check-input"
            type="checkbox"
            id="isTenantAdmin"
          >
          <label class="form-check-label" for="isTenantAdmin">
            テナント管理者アカウント
          </label>
        </div>
      </div>

      <!-- アカウントグループ -->
      <div class="row mb-5">
        <div class="col-4">
          <input v-model="JSON.stringify(accountGroup)" type="hidden" name="accountGroup">
          <label class="form-label">アカウントグループ <span class="redDC3545">*必須</span></label>
          <select v-model="accountGroup" class="form-select">
            <option hidden value="">アカウントグループを選択</option>
            <option
              v-for="item in accountGroups"
              :key="item.id"
              :value="item.id"
            >{{ item.accountGroupName }}</option>
          </select>
        </div>
        <div v-if="$v.accountGroup.$dirty" class="text-danger fw-bold mt-3">
          <p v-if="!$v.accountGroup.required">アカウントグループが選択されていません。</p>
        </div>
        <div v-if="!accountGroupsCheck" class="text-danger fw-bold mt-3">
          <p>テナント・ロールは選択必須です。</p>
        </div>
      </div>

      <!-- アクションボタン -->
      <div class="text-end">
        <button
          v-if="displayType === 'detail'"
          type="button"
          class="btn baseBtnBlue"
          style="width: 136px;font-size: 12px;margin-bottom: 10px;"
        >
        <a href="http://localhost:3000/accounts">戻る</a>
        </button>
        <button
          v-if="displayType === 'detail'"
          @click="onActionModalOpen(accountStatus)"
          type="button"
          class="btn baseBtnBlue"
          style="width: 136px;font-size: 12px;margin-bottom: 10px;"
        >停止/復旧</button>
        <button
          v-if="displayType === 'detail'"
          @click="onActionModalOpen('reset')"
          type="button"
          class="btn baseBtnBlue"
          style="width: 136px;font-size: 12px;margin-bottom: 10px;"
        >パスワードリセット</button>
        <button
          @click="onRollModalOpen"
          :disabled="accountGroup === ''"
          type="button"
          class="btn baseBtnBlue"
          style="width: 136px;font-size: 12px;margin-bottom: 10px;"
        >ロール選択</button>
        <button
          type="submit"
          class="btn baseBtnBlue"
          style="width: 136px;font-size: 12px;margin-bottom: 10px;"
        >登録</button>
      </div>
      
      <!-- アクションモーダル -->
      <div :style="actionModal.show ? 'display: block' : 'display: none'" class="modalMain">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <template v-if="actionModal.type === 'reset'">パスワードリセット</template>
                <template v-if="actionModal.type === 'stop'">アカウント停止</template>
                <template v-if="actionModal.type === 'restoration'">アカウント復旧</template>
              </h5>
              <button @click="onActionModalClose" type="button" class="btn-close"></button>
            </div>
            <div class="modal-body m-3">
              <p v-if="actionModal.type === 'reset'">アカウントパスワードをリセットしますか？</p>
              <p v-if="actionModal.type === 'stop'">対象アカウントを停止しますか？</p>
              <p v-if="actionModal.type === 'restoration'">対象アカウントを復旧しますか？</p>
              <div class="text-end">
                <button
                  @click="onReset"
                  v-if="actionModal.type === 'reset'"
                  type="button"
                  class="btn baseBtnBlue" style="width: 136px;font-size: 12px; margin-bottom: 10px;"
                >リセット実行</button>
                <button
                  @click="onStop"
                  v-if="actionModal.type === 'stop'"
                  type="button"
                  class="btn baseBtnBlue" style="width: 136px;font-size: 12px; margin-bottom: 10px;"
                >停止実行</button>
                <button
                  @click="onRestoration"
                  v-if="actionModal.type === 'restoration'"
                  type="button"
                  class="btn baseBtnBlue" style="width: 136px;font-size: 12px; margin-bottom: 10px;"
                >復旧実行</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        :style="actionModal.show ? 'display: block' : 'display: none'"
        class="modalBg"
        @click="onActionModalClose">
      </div>

      <!-- ロールモーダル -->
      <div :style="rollModal.show ? 'display: block' : 'display: none'" class="modalMain">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <template v-if="rollModal.page === 'tenant'">テナント選択</template>
                <template v-if="rollModal.page === 'roll'">ロール選択</template>
              </h5>
              <button @click="onRollModalClose" type="button" class="btn-close"></button>
            </div>
            <div class="modal-body m-3">
              <input v-model="tenantRoll" type="hidden" name="tenantRoll">
              <!-- テナント一覧 -->
              <table v-if="rollModal.page === 'tenant'" class="table align-middle">
                <thead>
                  <tr>
                    <th></th>
                    <th>テナントID</th>
                    <th>テナント名</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in rollModal.current.tenants" :key="index">
                    <td>
                      <input
                        v-model="item.tenantCheck"
                        @change="onTenantCheck"
                        class="form-check-input"
                        type="checkbox"
                      >
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.tenantName }}</td>
                    <td class="button">
                      <button
                        @click="onRollModalMove('roll', item)"
                        :disabled="!item.tenantCheck"
                        type="button"
                        class="btn baseBtnBlue" style="width: 110px;font-size: 12px;"
                      >ロール選択</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- ロール一覧 -->
              <table v-if="rollModal.page === 'roll'" class="table align-middle">
                <thead>
                  <tr>
                    <th></th>
                    <th>ロール</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in rollModal.current.rolls" :key="index">
                    <td>
                      <input
                        v-model="item.rollCheck"
                        class="form-check-input"
                        type="checkbox"
                      >
                    </td>
                    <td>{{ item.roleName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div
        :style="rollModal.show ? 'display: block' : 'display: none'"
        class="modalBg"
        @click="onRollModalClose">
      </div>
    </form>
  </main>
</div>

<script type="text/javascript">
const accountGroups = `<%- accountGroups %>`;
const backOfficeAccount = `<%- backOfficeAccount %>`;
const forms = `<%- forms %>`;

const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

Vue.use(window.vuelidate.default);
const { required, email } = window.validators;

// 半角英数かどうか
let regexpHankaku = /[^A-Za-z0-9]+/;

new Vue({
  el: "#accountsRegist",
  data: {
    displayType: "",
    accountGroupsCheck: true,   // アカウントグループ入力チェック（テナント選択 ロール選択）
    // アクションモーダル
    actionModal: {
      show: false,               // 表示
      type: '',                  // タイプ（reset/stop/restoration）
      title: '',                 // タイトル
    },
    // ロールモーダル
    rollModal: {
      show: false,               // 表示
      page: '',                  // カレントページ（tenant/roll）
      title: '',                 // タイトル
      current: []                // カレントデータ
    },
    // APIデータ
    accountGroups: JSON.parse(accountGroups),
    backOfficeAccount: JSON.parse(backOfficeAccount),
    forms: JSON.parse(forms),
    // 登録データ
    accountId: "",           // アカウントID
    familyName: "",          // 姓
    firstName: "",           // 名
    email: "",               // メールアドレス
    affiliationCompany: "",  // 所属会社
    department: "",          // 部署
    isDmpAdmin: false,       // 管理者アカウント（DMP）
    isTenantAdmin: false,    // 管理者アカウント（テナント）
    accountGroup: "",        // アカウントグループ
    accountStatus: '',       // アカウントステータス（stop restoration）
    tenantRoll: []           // アカウントグループ（テナント/ロール）
  },
  validations: {
    accountId: {
      required,
      valid: function(value) {
        let result = false;
        if (!new RegExp(regexpHankaku).test(value)) result = true;
        return result;
      }
    },
    familyName: {
      required
    },
    firstName: {
      required
    },
    email: {
      email,
      valid: function(value) {        
        let result = false;
        if(this.backOfficeAccount.accountStatus === 'dmp') {
          if (!this.isDmpAdmin) result = true;
          if (this.isDmpAdmin && value) result = true;
        }
        if(this.backOfficeAccount.accountStatus === 'tenant') {
          if (!this.isTenantAdmin) result = true;
          if (this.isTenantAdmin && value) result = true;
        }
        return result;
      }
    },
    accountGroup: {
      required
    },
  },
  created() {
    this.setInitData();
    // アカウントグループ（テナントデータ チェックフラグ作成）
    this.accountGroups.forEach(item => {
      item.tenants.forEach(i => {
        i.tenantCheck = false;
        if(this.forms.tenantRoll) {
          this.forms.tenantRoll.forEach(roll => {
            if(roll.id === item.id && roll.tenantId === i.id) {
              i.tenantCheck = true;
            }
          });
        }
      });
    });
    // アカウントグループ（ロールデータ チェックフラグ作成）
    this.accountGroups.forEach(group => {
      group.tenants.forEach(tenant => {
        tenant.rolls.forEach(roll => {
          roll.rollCheck = false;
          if(this.forms.tenantRoll) {
            this.forms.tenantRoll.forEach(item => {
              item.roleId.forEach(i => {
                if(group.id === item.id && tenant.id === item.tenantId && roll.id === i.id) {
                  roll.rollCheck = true;
                }
              });
            });
          }
        });
      });
    });
  },

  methods: {
    /**
     * 登録情報セット
     */ 
     setInitData() { 
      this.accountId = this.forms.accountId;
      this.familyName = this.forms.familyName;
      this.firstName = this.forms.firstName;
      this.email = this.forms.email;
      this.affiliationCompany = this.forms.affiliationCompany;
      this.department = this.forms.department;
      this.isDmpAdmin = this.forms.isDmpAdmin;
      this.isTenantAdmin = this.forms.isTenantAdmin;
      this.accountGroup = this.forms.accountGroup;
      this.accountStatus = this.forms.accountStatus;
      location.href.match(/regist/) ? this.displayType = 'regist' : this.displayType = 'detail';
    },
    /**
     * アクションモーダル（Open）
     */ 
     onActionModalOpen(type) {
      let actionType = type;
      if(type === 'stop') actionType = 'restoration';
      if(type === '' || type === 'restoration') actionType = 'stop';
      this.actionModal.show = true;
      this.actionModal.type = actionType;
    },
    /**
     * アクションモーダル（Close）
     */ 
     onActionModalClose() {
      this.actionModal.show = false;
      this.actionModal.type = '';
    },
    /**
     * ロールモーダル（Open）
     */ 
     onRollModalOpen() {
      let currentData = this.accountGroups.filter((value) => {
        return this.accountGroup === value.id;
      });
      this.rollModal.show = true;
      this.rollModal.page = 'tenant';
      this.rollModal.current = currentData[0];
    },
    /**
     * ロールモーダル（Close）
     */ 
     onRollModalClose() {
      this.rollModal.show = false;
      this.rollModal.page = '';
      this.rollModal.current = [];
    },
    /**
     * ロールモーダル（ページ移動）
     */ 
     onRollModalMove(page, items) {
      this.rollModal.page = page;
      this.rollModal.current = items;
    },
    /**
     * ロールモーダル（テナント選択 変更）
     */
     onTenantCheck(e) {
      let target = e.target.closest("tr").querySelector("button");
      target.disabled = !e.target.checked;
    },
    /**
     * バリデーションチェック（アカウントグループ テナント/ロール）
     */
     validationAccountGroups() {
      let tenantCheck = false;
      let rollCheck = false;
      this.accountGroupsCheck = false;
      this.tenantRoll = [];
      this.accountGroups.forEach(groups => {
        if(this.accountGroup === groups.id) {
          groups.tenants.forEach(tenant => {
            if(tenant.tenantCheck) tenantCheck = true;
            tenant.rolls.forEach(roll => {
              if(roll.rollCheck) rollCheck = true;
            });
          });
        }
      });
      if(tenantCheck && rollCheck) {
        this.accountGroupsCheck = true;
        this.tenantRoll = this.accountGroups;
        document.accounts.tenantRoll.value = JSON.stringify(this.accountGroups);
      }
    },
    /**
     * 登録処理
     */ 
    onRegist() {
      this.$v.$touch();
      this.validationAccountGroups();
      if(!this.$v.$invalid && this.accountGroupsCheck) {
        document.accounts.method="post";
        document.accounts.action = "/accounts/regist";
        document.accounts.submit();
      }
    },
    /**
     * 停止処理
     */ 
    onStop() {
      alert('停止処理');
    },
    /**
     * 復旧処理
     */ 
     onRestoration() {
      alert('復旧処理');
    },
    /**
     * パスワードリセット処理
     */ 
     onReset() {
      alert('パスワードリセット処理');
    }
  }
})
</script>
</body>
</html>