<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="divisionsRegist">
    <h4 class="mb-4 fw-bold">料金区分登録</h4>

    <form @submit.prevent="onSubmit" name="divisionsForm">
      <!-- 料金区分名 -->
      <div class="row mb-5">
        <div class="col-4">
          <label class="form-label">料金区分名</label>
          <input
            v-model="divisionName"
            name="divisionName"
            type="text"
            class="form-control"
            placeholder="料金区分名"
          >
        </div>
      </div>
      <!-- 料金テーブル -->
      <input v-model="JSON.stringify(divisions)" type="hidden" name="divisions">
      <table class="table align-middle mb-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">年齢区分</th>
            <th scope="col">価格</th>
            <th scope="col">
              <div class="mb-2">
                <input
                  v-model="displayCheck"
                  class="form-check-input"
                  type="checkbox"
                  id="displayCheck"
                >
                <label class="form-check-label" style="font-weight: normal;" for="displayCheck">
                  元値／割引率を表示する
                </label>
              </div>
          
              元値表記
            </th>
            <th scope="col">割引率表記</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in divisions" :key="index">
            <th>{{ index + 1 }}</th>
            <td>{{ item.ageName }}</td>
            <td>
              <input
                v-model="item.price"
                type="text"
                class="form-control"
                placeholder="価格"
              >
            </td>
            <td>
              <input
                v-model="item.originalPrice"
                :disabled="displayCheck===true"
                type="text"
                class="form-control"
                placeholder="価格"
              >
            </td>
            <td>
              <input
                v-model="item.discountRate"
                :disabled="displayCheck===true"
                type="text"
                class="form-control"
                placeholder="価格"
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 保存ボタン -->
      <div class="d-flex flex-row-reverse mb-5">
        <input type="submit" value="保存" class="btn baseBtnBlue" style="width: 156px;">
      </div>
    </form>
  </main>
</div>

<script type="text/javascript">
const productId= `<%- productId %>`;
const divisionId= `<%- divisionId %>`;
const divisions= `<%- divisions %>`;

const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

new Vue({
  el: "#divisionsRegist",
  data: {
    displayCheck: false,
    // APIデータ
    productId: JSON.parse(productId),
    divisionId: divisionId ? JSON.parse(divisionId) : '',
    divisions: JSON.parse(divisions),
    // 登録データ
    divisionName: "",        // 料金区分名
  },
  created() {
  },
  mounted() {
  },
  methods: {
    /**
     * 割引率表記（計算）
     */
    //  calcDiscountRate(item) {
    //   let result = '';
    //   if(item.price && item.originalPrice) {
    //     result =  Math.round(100 - (item.price / item.originalPrice * 100)) + '%OFF';
    //   }
    //   return result;
    // },

   /**
     * 保存
     */
    onSubmit() {
      let action = `/divisions/${this.productId}/regist`;
      if(this.productId && this.divisionId) {
        action = `/divisions/${this.productId}/detail/${this.divisionId}`
      }
      document.divisionsForm.method="post";
      document.divisionsForm.action = action;
      document.divisionsForm.submit();
    }
  }
})
</script>
</body>
</html>