<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="productsReference">    
    <h4 class="mb-4 fw-bold">商品一覧</h4>

    <div class="d-flex flex-row-reverse mb-4">
      <button class="dropdown border-0 bg-white" type="button" data-bs-toggle="dropdown">
        <img src="/images/icon/plus.svg">
      </button>
      <ul class="dropdown-menu">
        <a href="/products/regist"><li class="dropdown-item small">商品を新しく登録する</li></a>
        <a href="/products/regist-set"><li class="dropdown-item small">セット商品を登録する</li></a>
      </ul>
    </div>

    <form @submit.prevent="onSerch" class="mb-5">
      <!-- 条件フォーム -->
      <div class="baseShadow p-3 mb-5">
        <h5 class="mb-4 fw-bold">条件</h5>
        <div class="row">
          <div class="col-4">
            <label class="form-label">商品ID</label>
            <input
              @change="onFormChange"
              :value="product_id"
              name="product_id"
              type="text"
              class="form-control"
              placeholder="商品ID"
            >
          </div>
          <div class="col-4">
            <label class="form-label">キーワード</label>
            <input
              @change="onFormChange"
              :value="keyword"
              name="keyword"
              type="text"
              class="form-control"
              placeholder="キーワード"
            >
          </div>
          <div class="col-4 text-end">
            <button type="submit" class="btn w-50 mt-4 baseBtnGrey">
              <img src="/images/icon/serch.svg">
              検索
            </button>
          </div>
        </div>
      </div>
      <!-- 一覧テーブル -->
      <table class="table align-middle mb-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">商品ID</th>
            <th scope="col">商品名</th>
            <th scope="col">表示期間</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in products" :key="index">
            <th>1</th>
            <td><img :src="item.path"></td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td><button type="button" class="btn baseBtnGrey">Copy</button></td>
          </tr>
        </tbody>
      </table>
      <!-- ページネーション -->
      <nav class="d-flex justify-content-center" aria-label="Page navigation">
        <ul class="pagination">
          <li :class="{'disabled': Number(page_number) === 1}" class="page-item">
            <button
              @click="onPage(Number(page_number) - 1)"
              type="button"
              class="page-link">Previous
            </button>
          </li>
          <li
            v-for="value of totalPageCount"
            :key="value"
            :class="{'active': value === Number(page_number)}"
            class="page-item"
          >
            <button
              @click="onPage(value)"
              type="button"
              class="page-link">{{value}}
            </button>
          </li>
          <li :class="{'disabled': Number(page_number) === Number(totalPageCount)}" class="page-item">
            <button
              @click="onPage(Number(page_number) + 1)"
              type="button"
              class="page-link">Next
            </button>
          </li>
        </ul>
      </nav>
    </form>
  </main>
</div>

<script type="text/javascript">
const products= `<%- products %>`;
const totalPageCount= `<%- total_page_count %>`;

const queryParam = new URLSearchParams(location.search);
  
new Vue({
  el: "#productsReference",
  data: {
    // APIデータ
    products: JSON.parse(products),
    totalPageCount: JSON.parse(totalPageCount),
    // 検索データ
    product_id: queryParam.get('product_id') ?? "",
    keyword: queryParam.get('keyword') ?? "",
    page_number: queryParam.get('page_number') ?? 1,
  },
  created() {
    queryParam.set("product_id", this.product_id);
    queryParam.set("keyword", this.keyword);
    queryParam.set("page_number", this.page_number);
  },
  methods: {
    onFormChange(e) {
      queryParam.set(e.target.name, e.target.value);
    },
    onPage(page) {
      queryParam.set("page_number", page);
      this.onSerch();
    },
    onSerch() {
      window.location.href = "/products/reference?" + queryParam;
    },
  }
})
</script>
</body>
</html>