<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="productsRegist">    
    <h4 class="mb-4 fw-bold">商品登録</h4>

    <form @submit.prevent="onSubmit" name="productsForm" class="mb-5">
      <!-- 基本情報 -->
      <div :style="basicTabStatus ? 'height: inherit' : 'height: 55px'" class="baseShadow p-3 mb-5 overflow-hidden">
        <div class="d-flex">
          <div class="me-auto">
            <h5 class="mb-4 fw-bold">基本情報</h5>
          </div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('basicTabStatus')"
              :style="basicTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <!-- 商品名 -->
        <div class="col-4 mb-4">
          <label class="form-label">商品名</label>
          <input
            v-model="product_name"
            name="product_name"
            type="text"
            class="form-control"
            placeholder="商品名"
          >
        </div>
        <div class="col-6 mb-4">
          <label class="form-label">商品説明</label>
          <textarea
            v-model="product_setumei"
            name="product_setumei"
            rows="3"
            class="form-control mb-2"
          ></textarea>
        </div>
        <div class="col-12 mb-4">
          <label class="form-label w-100">在庫管理</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="stock" id="stock_1" value="1">
            <label class="form-check-label" for="stock_1">在庫管理なし</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="stock" id="stock_2" value="2">
            <label class="form-check-label" for="stock_2">DMP在庫管理</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="stock" id="stock_3" value="3">
            <label class="form-check-label" for="stock_3">HL在庫管理</label>
          </div>
          <div class="col-3 mt-2">
            <select class="form-select">
              <option hidden>在庫ID</option>
              <option
                v-for="item in stockDmps"
                :key="item.name"
                :value="item.name"
              >{{ item.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-12 mb-4">
          <label class="form-label w-100">表示期間</label>
          <div class="d-inline-block">
            <input
              name="hyouji_from"
              type="text"
              class="form-control"
              placeholder="From"
            >
          </div>
          <div class="d-inline-block">〜</div>
          <div class="d-inline-block">
            <input
              name="hyouji_to"
              type="text"
              class="form-control"
              placeholder="To"
            >
          </div>
          <div class="d-inline-block">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              表示停止
            </label>
          </div>
        </div>
        <div class="col-12 mb-4">
          <label class="form-label w-100">販売期間</label>
          <div class="d-inline-block">
            <input
              name="hyouji_from"
              type="text"
              class="form-control"
              placeholder="From"
            >
          </div>
          <div class="d-inline-block">〜</div>
          <div class="d-inline-block">
            <input
              name="hyouji_to"
              type="text"
              class="form-control"
              placeholder="To"
            >
          </div>
          <div class="d-inline-block">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              表示停止
            </label>
          </div>
        </div>
      </div>

      <!-- 年齢区分 -->
      <div :style="agesTabStatus ? 'height: inherit' : 'height: 55px'" class="baseShadow p-3 mb-5 overflow-hidden">
        <div class="d-flex">
          <div class="me-auto">
            <h5 class="mb-4 fw-bold">年齢区分</h5>
          </div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('agesTabStatus')"
              :style="agesTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <div class="col-8">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">年齢区分</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in ages" :key="index">
                <th>{{ index + 1 }}</th>
                <td>{{ item.name }}</td>
                <td><input class="form-check-input" type="checkbox"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 利用方法 -->
      <div :style="usageTabStatus ? 'height: inherit' : 'height: 55px'" class="baseShadow p-3 mb-5 overflow-hidden">
        <div class="d-flex">
          <div class="me-auto">
            <h5 class="mb-4 fw-bold">利用方法</h5>
          </div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('usageTabStatus')"
              :style="usageTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <div class="col-12 mb-4">
          <label class="form-label w-100">利用方法</label>
          <div class="form-check mb-2">
            <input
              v-model="usageMethodActive"
              class="form-check-input"
              type="radio"
              id="riyou_1"
              value="1"
            >
            <label class="form-check-label" for="riyou_1">画面提示</label>
          </div>
          <div class="form-check mb-2">
            <input
              v-model="usageMethodActive"
              class="form-check-input"
              type="radio"
              id="riyou_2"
              value="2"
            >
            <label class="form-check-label" for="riyou_2">電子もぎり</label>
          </div>
          <div class="form-check mb-2">
            <input
              v-model="usageMethodActive"
              class="form-check-input"
              type="radio"
              id="riyou_3"
              value="3"
            >
            <label class="form-check-label" for="riyou_3">顔認証</label>
          </div>
          <div class="form-check mb-2">
            <input
              v-model="usageMethodActive"
              class="form-check-input"
              type="radio"
              id="riyou_4"
              value="4"
            >
            <label class="form-check-label" for="riyou_3">QR提示</label>
          </div>
          <div class="form-check">
            <input
              v-model="usageMethodActive"
              class="form-check-input"
              type="radio"
              id="riyou_5"
              value="5"
            >
            <label class="form-check-label" for="riyou_3">QR読込</label>
          </div>
        </div>
        <!-- 利用期間 -->
        <div class="form-group mb-4">
          <label class="form-label w-100">利用期間</label>
          <div class="col-12 mb-3">
            <div class="form-check form-check-inline">
              <input
                v-model="usagePeriodActive"
                value="1"
                class="form-check-input"
                type="radio"
                id="usagePeriod_1"
              >
              <label class="form-check-label" for="usagePeriod_1">日付指定</label>
            </div>
            <div class="d-inline-block">
              <vue-ctk-date-time-picker
                name="usage_period_from"
                v-model="usage_period_from"
                formatted="YYYY/MM/DD"
                only-date
                :min-date="minDate"
                :label="'From'"
                position="top"
                :disabled="usagePeriodActive === '2'"
              /></vue-ctk-date-time-picker>
            </div>
            <div class="d-inline-block">〜</div>
            <div class="d-inline-block">
              <vue-ctk-date-time-picker
                name="usage_period_to"
                v-model="usage_period_to"
                formatted="YYYY/MM/DD"
                only-date
                :min-date="minDate"
                :label="'To'"
                position="top"
                :disabled="usagePeriodActive === '2'"
              /></vue-ctk-date-time-picker>
            </div>
          </div>
          <div class="col-12">
            <div class="form-check form-check-inline">
              <input
                v-model="usagePeriodActive"
                value="2"
                class="form-check-input"
                type="radio"
                id="usagePeriod_2"
              >
              <label class="form-check-label" for="usagePeriod_2">期限指定</label>
            </div>
            <div class="d-inline-block">
              <input
                v-model="usage_period_deadline"
                :disabled="usagePeriodActive === '1'"
                name="usage_period_deadline"
                type="text"
                class="form-control mb-2"
                placeholder="有効期限"
              />
            </div>
          </div>
        </div>
        <!-- 利用施設 -->
        <div class="col-12 mb-4">
          <label class="form-label w-100">利用施設</label>
          <input v-model="JSON.stringify(tenants_used)" type="hidden" name="tenants_used">
          <div class="col-8">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">施設ID</th>
                  <th scope="col">施設名</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in tenants" :key="index">
                  <th>{{ index + 1 }}</th>
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    <input
                      @change="onTenantChange($event, item)"
                      class="form-check-input"
                      type="checkbox">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- 商品タグ -->
      <div :style="tagTabStatus ? 'height: inherit' : 'height: 55px'" class="baseShadow p-3 mb-5 overflow-hidden">
        <input v-model="JSON.stringify(tags)" type="hidden" name="tags">
        <div class="d-flex">
          <div class="me-auto">
            <h5 class="mb-4 fw-bold">商品タグ</h5>
          </div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('tagTabStatus')"
              :style="tagTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <vue-tags-input
          v-model="tag"
          :tags="tags"
          :autocomplete-items="onTagsFilter"
          @tags-changed="replaceTags"
        />
      </div>

      <!-- 商品画像 -->
      <div :style="imageTabStatus ? 'height: inherit' : 'height: 55px'" class="baseShadow p-3 mb-5 overflow-hidden">
        <input v-model="JSON.stringify(images)" type="hidden" name="images">
        <div class="d-flex">
          <div class="me-auto">
            <h5 class="mb-4 fw-bold">商品画像</h5>
          </div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('imageTabStatus')"
              :style="imageTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <div
          v-for="(item, index) of imagesView"
          :key="index"
          class="form-check-inline mb-3 position-relative"
        >
          <img :src="item.path" style="width: 136px; object-fit: cover; height: 86px;">
          <button
            @click="onDeleteFileData"
            type="button"
            class="btn-close position-absolute"
            style="right: 5px; top: 5px; font-size: 14px"
            :value="index"
          ></button>
        </div>
        <div class="form-check-inline">
          <button @click="onModalShow" class="border-0 bg-white" type="button">
            <img src="/images/icon/plus.svg">
          </button>
        </div>        
      </div>

      <!-- 保存ボタン -->
      <div class="d-flex flex-row-reverse mb-4">
        <input
          type="submit"
          value="保存"
          class="btn mt-4 baseBtnGrey"
          style="width: 156px;"
        />
      </div>
    </form>

    <!-- モーダル -->
    <div :style="modalShow ? 'display: block' : 'display: none'" class="modalMain">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ファイルアップロード</h5>
            <button @click="onModalClose" type="button" class="btn-close"></button>
          </div>
          <div
            @dragover.prevent="onFileDrag(true)"
            @dragleave="onFileDrag(false)"
            @drop.prevent="onFileDrop" 
            :class="{fileAreaFocus: isFileAreaFocus}"
            class="modal-body m-3"
          >
            <p>ここにファイルをドラッグ＆ドロップ<br>または</p>
            <input type="file" @change="onFileChange"/>
          </div>
        </div>
      </div>
    </div>
    <div
      :style="modalShow ? 'display: block' : 'display: none'"
      class="modalBg"
      @click="onModalClose">
    </div>
  </main>
</div>

<script type="text/javascript">
const stockDmps= `<%- stock_dmps %>`;
const ages= `<%- ages %>`;
const tenants= `<%- tenants %>`;

const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

const VoerroTagsInput = window.VoerroTagsInput;
Vue.component('tags-input', VoerroTagsInput);

new Vue({
  el: "#productsRegist",
  data: {
    basicTabStatus: true,   // 基本情報（タブ）
    agesTabStatus: true,    // 年齢区分（タブ）
    usageTabStatus: true,   // 利用方法（タブ）
    tagTabStatus: true,     // 商品タグ（タブ）
    imageTabStatus: true,   // 商品画像（タブ）
    usageMethodActive: "1", // 利用方法
    usagePeriodActive: "1", // 利用期間
    minDate: moment(new Date()).format("YYYY-MM-DD"),
    tag: '',
    isFileAreaFocus: false,
    imagesView: [],
    modalShow: false,
    // APIデータ
    stockDmps: JSON.parse(stockDmps),
    ages: JSON.parse(ages),
    tenants: JSON.parse(tenants),
    // 登録データ
    product_name: "",
    product_setumei: "",
    usage_period_from: null,
    usage_period_to: null,
    usage_period_deadline: "",
    tenants_used: [],
    tags: [],
    images: [],

    autocompleteItems: [
      {
        text: 'チケット',
      },
      {
        text: '宿泊',
      },
      {
        text: '室内',
      }
    ],
  },
  created() {
  },
  computed: {
    onTagsFilter() {
      return this.autocompleteItems.filter(i => {
        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
      });
    },
  },
  methods: {
    onTabToggle(target) {
      this[target] = !this[target];
    },
    onTenantChange(event, value) {
      if(event.target.checked) {
        this.tenants_used.push(value)
      } else {
        this.tenants_used = this.tenants_used.filter(o => o.id !== value.id);
      }
    },
    replaceTags(item) {
    let resultTags = [];
      item.forEach((value) => {
        this.autocompleteItems.forEach((i) => {
          if(i.text.toLowerCase().indexOf(value.text.toLowerCase()) !== -1) {
            resultTags.push({ text:value.text })
          } 
        })
      });
      this.tags = resultTags;
    },
    onModalShow() {
      this.modalShow = true;
    },
    onModalClose() {
      this.modalShow = false;
    },
    onFileDrag(flag) {
      this.isFileAreaFocus = flag;
    },
    onFileDrop(event) {
      this.isFileAreaFocus = false;
      const files = event.dataTransfer.files;
      if (files.length !== 1 || files[0].type.indexOf("image") !== 0) {
        return;
      }
      this.createFileData(files);
    },
    onFileChange(event) {
      const files = event.target.files;
      if (files.length !== 1 || files[0].type.indexOf("image") !== 0) {
        return;
      }
      this.createFileData(files);
    },
    onDeleteFileData(event) {
      this.images.splice(event.target.value, 1);
      this.imagesView.splice(event.target.value, 1);
    },
    createFileData(files) {
      const reader = new FileReader();
      reader.readAsDataURL(files[0]);
      reader.onloadend = () => {
        this.images.push({ path: reader.result })
        this.modalShow = false;
      };
      this.imagesView.push({ path: URL.createObjectURL(files[0]) });
    },
    onSubmit() {
      document.productsForm.method="post";
      document.productsForm.action = "/products/regist";
      document.productsForm.submit();
    }
  }
})
</script>
</body>
</html>