<%- include('../partials/head'); %>

<body>
  <div class="layout">
    <%- include('../partials/header'); %>
    <main>
      <%- include('../partials/sidebar'); %>
      <section>
        <p><%= response %></p>
        <div id="index">
          <p>{{msg}}</p>
          <button @click="sayHello">Hi!</button>
        </div>
      </section>
    </main>
  </div>

  <script type="text/javascript">
  let response= `<%- response %>`;
  console.log(JSON.parse(response));

  new Vue({
    el: "#index",
    data: {
      msg: "Welcome"
    },
    methods: {
      sayHello() {
        this.msg = "Hello!"
      }
    },
    mounted() {
    }
  })
  </script>
</body>
</html>