<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="inventorysRegist">
    <h4 class="mb-4 fw-bold">在庫登録</h4>

    <form @submit.prevent="onSubmit" name="divisionsForm">
      <!-- 在庫ID -->
      <div v-if="inventoryId" class="row mb-5">
        <div class="col-4">
          <label class="form-label">在庫ID</label>
          <p>{{ inventoryId }}</p>
        </div>
      </div>
      <!-- 在庫名 -->
      <div class="row mb-5">
        <div class="col-4">
          <label class="form-label">在庫名</label>
          <input
            v-model="inventoryName"
            name="inventoryName"
            type="text"
            class="form-control"
            placeholder="在庫名"
          >
        </div>
      </div>
      <!-- 在庫管理種別 -->
      <div class="mb-4">
        <label class="form-label">在庫管理種別</label>
        <div class="form-check mb-2 w-50">
          <input
            v-model="inventoryKindType"
            name="inventoryKindType"
            class="form-check-input"
            type="radio"
            id="sales_1"
            value="1"
          >
          <label class="form-check-label" for="sales_1">一般</label>
        </div>
        <div class="form-check mb-2 w-50">
          <input
            v-model="inventoryKindType"
            name="inventoryKindType"
            class="form-check-input"
            type="radio"
            id="sales_2"
            value="2"
          >
          <label class="form-check-label" for="sales_2">日付指定</label>
        </div>
        <div class="form-check mb-2 w-50">
          <input
            v-model="inventoryKindType"
            name="inventoryKindType"
            class="form-check-input"
            type="radio"
            id="sales_3"
            value="3"
          >
          <label class="form-check-label" for="sales_3">時間指定</label>
        </div>
      </div>
      <!-- 一般 -->
      <div v-if="inventoryKindType === '1'" class="row mb-5">
        <div class="col-4">
          <label class="form-label">在庫数</label>
          <input
            v-model="general"
            name="general"
            type="text"
            class="form-control"
            placeholder="在庫数"
          >
        </div>
      </div>

      

      
  
      <div class="row">
        <div style="position: relative;" class="col-6">
          <img
            @click="onCalendarPrev"
            style="cursor: pointer; transform: rotate(360deg); position: absolute; top: -5px; left: 20px;"
            src="/images/icon/arow_calendar.svg"
          />
          <div @click="onCalendarEventSet" class='renderCalendar' data-month="thisMonth"></div>
        </div>
        <div style="position: relative;" class="col-6">
          <img
            @click="onCalendarNext"
            style="cursor: pointer; transform: rotate(180deg); position: absolute; top: -5px; right: 20px;"
            src="/images/icon/arow_calendar.svg"
          />
          <div @click="onCalendarEventSet" class='renderCalendar' data-month="nextMonth"></div>
        </div>
      </div>
  
      <!-- 在庫確認・保存ボタン -->
      <div class="mb-5" style="text-align: right;">
        <input type="submit" value="在庫確認" class="btn baseBtnGrey" style="width: 156px; margin-right: 20px;">
        <input type="submit" value="保存" class="btn baseBtnBlue" style="width: 156px;">
      </div>
    </form>
  </main>
</div>

<script type="text/javascript">
const productId= `<%- productId %>`;
const inventoryId= `<%- inventoryId %>`;
const inventorys= `<%- inventorys %>`;

const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

new Vue({
  el: "#inventorysRegist",
  data: {
    displayCheck: false,
    // APIデータ
    productId: productId ? JSON.parse(productId) : null,
    inventoryId: inventoryId ? JSON.parse(inventoryId) : null,
    inventorys: JSON.parse(inventorys),
    // カレンダー（イベント表示用）
    calendar: {
      initialView: 'dayGridMonth',
      locale: 'ja',
      initialDate: new Date(),
      headerToolbar: {
        left: '',
        center: 'title',
        right: ''
      },
      eventOrder: 'priority, id',
      events: [],
      dayCellContent(e) {
        e.dayNumberText = e.dayNumberText.replace('日', '');
      },
      eventDidMount(info) {
        let event = {
          id: info.event.id,
          dummyId: info.event._def.extendedProps.dummyId,
          start: info.event._instance.range.start,
          end: info.event._instance.range.end,
          priority: info.event._def.extendedProps.priority,
          feeId: info.event._def.extendedProps.feeId
        }
        let target = info.el.closest('.fc-daygrid-event-harness');
        target.dataset.event = JSON.stringify(event);
      },
    },
    // 登録データ
    inventoryName: "",        // 在庫名
    inventoryKindType: "2",   // 在庫管理種別
    changeInventorys: []      // カレンダー（登録・更新・削除データ）
  },
  created() {
    this.createEventData(this.inventorys);
  },
  mounted() {
    this.renderCalendar(this.calendar, this.createBaseDate(this.calendar.initialDate));
  },
  methods: {
    /**
     * 保存
     */
     onSubmit() {
      let action = `/divisions/${this.productId}/regist`;
      if(this.productId && this.divisionId) {
        action = `/divisions/${this.productId}/detail/${this.divisionId}`
      }
      document.divisionsForm.method="post";
      document.divisionsForm.action = action;
      document.divisionsForm.submit();
    },

    /**
     * イベントデータ作成（表示用）
     */
     createEventData(events) {
      events.forEach(item => {
        let retultDate = this.createBaseDate(item.end);
        // イベントタイトル作成
        this.inventorys.filter((value) => {
          if(item.feeId === value.feeId) item.title = value.sum;
        });
        // イベント開始・終了日の調整
        if((item.start !== item.end) && item.start.indexOf('T00:00') === -1) {
          item.start = `${item.start}T00:00`;
          item.end = `${item.end}T24:00`;
        }
        this.calendar.events.push(item);
      });
    },
    /**
     * 基準日の作成
     */ 
     createBaseDate(date) {
      let year = moment(date).format("YYYY");
      let month = moment(date).format("M");
      let day = moment(date).format("D");
      let retultDate = new Date(year, (month - 1), day);
      return retultDate;
    },
    /**
     * 料金カレンダー（表示切り替え 1ヶ月前）
     */
     onCalendarPrev() {
      let baseDate = this.createBaseDate(this.calendar.initialDate);
      baseDate.setMonth(baseDate.getMonth() - 2);
      baseDate.setDate(1);
      this.calendar.initialDate = baseDate;
      this.updateCalendarView(baseDate);
    },
    /**
     * 料金カレンダー（表示切り替え 1ヶ月後）
     */
    onCalendarNext() {
      let baseDate = this.createBaseDate(this.calendar.initialDate);
      baseDate.setMonth(baseDate.getMonth());
      baseDate.setDate(1);
      this.calendar.initialDate = baseDate;
      this.updateCalendarView(baseDate);
    },
    /**
     * 料金カレンダー（イベントセット）
     */
    onCalendarEventSet(event) {
      const target = event.target.closest('.fc-daygrid-event-harness');
      if(target) {
        // let endDate = this.createBaseDate(JSON.parse(target.dataset.event).end);
        // endDate.setDate(endDate.getDate() - 1);
        // this.planModal.id = JSON.parse(target.dataset.event).id;
        // this.planModal.dummyId = JSON.parse(target.dataset.event).dummyId;
        // this.planModal.start = JSON.parse(target.dataset.event).start;
        // this.planModal.end = moment(new Date(endDate)).format("YYYY-MM-DD");
        // this.planModal.priority = JSON.parse(target.dataset.event).priority;
        // this.planModal.feeId = JSON.parse(target.dataset.event).feeId;
        // this.onPlanModalShow('edit');
      }
    },
    /**
     * 料金カレンダー（描画）
     */
    renderCalendar(calendarObj, baseDate) {
      const calendars = document.querySelectorAll('.renderCalendar');
      calendars.forEach(function(calendarEl) {
        if(calendarEl.dataset['month'] === 'nextMonth') {    
          baseDate.setMonth(baseDate.getMonth() + 1);
          calendarObj.initialDate = baseDate;
        }
        let calendar = new FullCalendar.Calendar(calendarEl, calendarObj);
        calendar.render();
      });
    },
    /**
     * 料金カレンダー（API再取得）
     */
    updateCalendarView(baseDate) {
      this.inventorys = [];
      this.calendar.events = [];
      this.getCalendarApi().then(res => {
        this.createEventData(this.inventorys.concat(this.changeInventorys));
        this.renderCalendar(this.calendar, baseDate);
      })
    },
    /**
     * 料金カレンダーAPI
     */
    async getCalendarApi(args) {
      await axios.get('https://beauty.tsuku2.jp/api/menus?category_id=1').then((res) => {
        if (typeof res !== 'undefined') {
          return this.inventorys = [
            {
              id: '3',
              start: '2022-10-23',
              end: '2022-10-23',
              priority: '1',
              feeId: '3',
              sum: '30'
            },
            {
              id: '4',
              start: '2022-11-07',
              end: '2022-11-07',
              priority: '1',
              feeId: '1',
              sum: '60'
            }
          ]
        }
      }).catch((error) => {
        console.log(error);
      })
    },
  }
})
</script>
</body>
</html>